* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

.container { 
  margin-top: 15%;
  margin-left: 5%;
  margin-right: 5%;
  height: 100vh;
}

ul.buttons li{

  display: inline;
  list-style-type: none;
  margin:0;

}

buttons { width: 200px;}

ul.buttons {

  text-align: center;
  padding: 0;
}

ul.buttons button {
  cursor:pointer;
  font-size: 16px;
  display: inline-block;

}

.content {

  text-align: center;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  .container{ margin-top: 50%;}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  
  .container{ margin-top: 35%;}
  }



