* {
  margin: 0px;
  padding: 0px;
  font-family: "Raleway", "Open Sans", sans-serif;
}

body {
  background: #fafafa;
}

.img-cirlce {
  border-radius: 50%;
}

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

ul.buttons {
  text-align: center;
  padding: 0;
  -webkit-animation: fadein 4s;
  -moz-animation: fadein 4s;
  -ms-animation: fadein 4s;
  -o-animation: fadein 4s;
  animation: fadein 4s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

ul.buttons li {
  display: inline;
  list-style-type: none;
  margin: 10px;
}

button {
  width: 100px;
  border: 1px solid #494949 !important;
  border-radius: 6px;
  outline: none;
  box-sizing: border-box;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.01);
  font-weight: 200;
  color: #494949 !important;
  border-color: black;
  letter-spacing: 0.25px;
  background-color: transparent;
  vertical-align: top;
  text-transform: uppercase;
}
button:hover {
  color: #ffffff !important;
  background: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  border-color: #1fc8db !important;
  transition: all 0.4s ease 0s;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 600px) {
  ul.buttons li {
    margin: 1.5px;
  }
  button {
    width: 80px;
    font-size: 2px;
    letter-spacing: none;
    overflow: none;
  }
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 2s;
  transition-delay: 1s;
}

.fade-leave {
  opacity: 1;
}

.fade-leave-active {
  opacity: 0;
  transition: opacity 1s;
}
